name: Terraform GCP Shared VPC

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:
    inputs:
      action:
        description: "Choose action: apply or destroy"
        required: true
        default: "apply"

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
        service_account: terraform-ci@${{ secrets.GCP_PROJECT_ID }}.iam.gserviceaccount.com

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.6

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      if: github.event.inputs.action != 'destroy'
      env:
        TF_VAR_host_project_id: ${{ secrets.TF_VAR_host_project_id }}
        TF_VAR_org_id: ${{ secrets.TF_VAR_org_id }}
        TF_VAR_region: ${{ secrets.TF_VAR_region }}
        TF_VAR_service_project_id: ${{ secrets.TF_VAR_service_project_id }}
      run: terraform plan

    - name: Terraform Apply
      if: github.event.inputs.action == 'apply' && github.ref == 'refs/heads/master'
      env:
        TF_VAR_host_project_id: ${{ secrets.TF_VAR_host_project_id }}
        TF_VAR_org_id: ${{ secrets.TF_VAR_org_id }}
        TF_VAR_region: ${{ secrets.TF_VAR_region }}
        TF_VAR_service_project_id: ${{ secrets.TF_VAR_service_project_id }}
      run: terraform apply -auto-approve

    - name: Terraform Destroy
      if: github.event.inputs.action == 'destroy'
      env:
        TF_VAR_host_project_id: ${{ secrets.TF_VAR_host_project_id }}
        TF_VAR_org_id: ${{ secrets.TF_VAR_org_id }}
        TF_VAR_region: ${{ secrets.TF_VAR_region }}
        TF_VAR_service_project_id: ${{ secrets.TF_VAR_service_project_id }}
      run: terraform destroy -auto-approve
