name: Terraform GCP Shared VPC
 
on:
  push:
    branches: [ "master" ]
 
permissions:
  id-token: write
  contents: read
 
jobs:
  terraform:
    runs-on: ubuntu-latest
 
    steps:
    - name: Checkout
      uses: actions/checkout@v4
 
    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
        service_account: terraform-ci@${{ secrets.GCP_PROJECT_ID }}.iam.gserviceaccount.com
 
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.6
 
    - name: Terraform Init
      run: terraform init
 
    - name: Terraform Plan
      run: terraform plan
 
    - name: Terraform Apply
      if: github.ref == 'refs/heads/master'
      run: terraform apply -auto-approve
 